.container {
  max-width: 55rem;
  padding: 0 1rem;
  margin: 3rem auto 5rem;
  text-align: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
