.heading2Xl {
  font-size: 1.1rem;
  font-weight: 800;
  margin: 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.bold {
  font-size: .9rem;
  line-height: 1.1;
  font-weight: 600;
}

.link {
  text-decoration: none;
  margin-bottom: 2rem;
}